<div class="bg-info">
    <div id="banner" class="continer d-flex justify-content-around">
        <h1>Bienvenido <%= user %> <span id="userName"></span></h1>
        <button id="logout" class="btn btn-warning">Logout</button>
    </div>
</div>