<div class="container col-8">
    <h1 class="text-primary">Centro de Mensajes</h1>
    <div class="d-flex justify-content-between input-group mb-3">
        <div class="input-group col-6 mb-3">
            <label for="emailUsuario"></label>
            <input type="email" class="form-control" id="emailUsuario" name="nombre"
                placeholder="Ingrese cuenta de correo" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>
        <div class="input-group col-6 mb-3">
            <label for="nombreUsuario"></label>
            <input type="text" class="form-control" id="nombreUsuario" name="nombre"
                placeholder="Ingrese su nombre" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Juan</span>
        </div>
        <div class="input-group col-6 mb-3">
            <label for="apellidoUsuario"></label>
            <input type="text" class="form-control" id="apellidoUsuario" name="nombre"
                placeholder="Ingrese su apellido" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Maro</span>
        </div>
        <div class="input-group mb-3">
            <label for="edadUsuario"></label>
            <input type="number" class="form-control" id="edadUsuario" name="nombre"
                placeholder="Ingrese su edad" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">41</span>
        </div>
        <div class="input-group mb-3">
            <label for="avatarUsuario"></label>
            <input type="text" class="form-control" id="avatarUsuario" name="nombre"
                placeholder="Ingrese url avatat" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">URL avatar</span>
        </div>
        <div class="input-group mb-3">
            <label for="aliasUsuario"></label>
            <input type="text" class="form-control" id="aliasUsuario" name="nombre"
                placeholder="Ingrese alias" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Pepe</span>
        </div>
    </div>

    <div id="chatContainer">

    </div>

    <div class="input-group mb-3">
        <label for="message"></label>
        <input type="text" id="message" name="message" class="form-control" placeholder="Recipient's username"
            aria-label="Recipient's username" aria-describedby="button-addon2">
        <button id="btnMessage" class="btn btn-outline-secondary" type="button">Enviar</button>
    </div>
</div>